* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

input, button {
  outline: 0;
}

body {
  background: #e6ecf0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

hr.divider {
  margin: 10px 0 20px 0;
  background-color: #ccc;
}